{% extends "user/base.html" %}

{% block title %}Booking Pengguna - PublicBook{% endblock %}
{% set active_page = 'booking' %}
{% set header_title = 'Booking Saya' %}
{% set header_icon = 'fa-calendar-check' %}

{% block content %}
<div class="booking-content-area">
    <!-- BOOKING CARD -->
    <div class="booking-card">
        <div class="booking-qr-code-wrap">
            <img src="https://api.qrserver.com/v1/create-qr-code/?size=280x280&data=PB-240410-001-BOOKING-PUBLICBOOK&color=333333&bgcolor=ffffff" alt="QR Code Booking" class="booking-qr-code">
        </div>
        <p class="booking-wait-time">Estimasi wait time : <strong>20 minute</strong></p>
    </div>
</div>
{% endblock %}